body {
    font-family: 'Kanit', sans-serif;
    /* background-color: #0d0d0d; */
}

 nav ul a,
 nav .brand-logo {
   color: #52f2D5;
 }
 
 
 p {
   line-height: 2rem;
   color: #1fBf92;
 }
 .container{
  color: #52f2D5


 }
 
 .sidenav-trigger {
   color: #52f2D5;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }